/*  Ruzova barva FF9999  */
/*  bila barva FFFFFF  */
/*  cerna barva 4C3333  */
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
header {
    font-size: 14px;
    background: #FF9999 ;
    color: #ffffff;
}
.alfa {
    
}
.header-follow {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}
.header-account {
    padding: 10px;
    text-align: center;
    
}

.header-cart {
    color: white;
    border: solid;
    border-radius: 1px;
    
}
.center-img {
    display: flex;
justify-content: center;
}