/*  Ruzova barva FF9999  */
/*  bila barva FFFFFF  */
/*  cerna barva 4C3333  */
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
header {
    font-size: 14px;
    background: #FF9999 ;
    color: #ffffff;
}
.header-top {
    border-bottom: 1px solid;
    border-bottom-color: white;
}
.header-follow {
    padding: 10px;
    border-bottom: 1px solid;
    border-bottom-color: white;
}
.header-account {
    padding: 10px;
    display: flex;
    
}
.inline-block{
    display: inline-block;
    border-radius:  50%;
    width: 25px;
    height: 25px;
    color: #FF9999;
    background: white;
    border: solid;
    text-align: center;
    
}
.footer-color {
    background: #fafafa;
}
.white {
    color: white;
    background-color: #FF9999;
    background: #FF9999;
}

.shopping-cart-border {
    border-radius: 10%;
    border: solid;
    width: auto;
    height: auto;
    justify-content: center;
    border-width: 1px;
    margin-top: 5px;
    padding: 0px;
}